{% extends '../_typhoon.html.twig' %}

{% set pageTitle = 'Color' %}
{% set pageDesc = 'Typhoon Color Palette' %}
{% set pageClass = 'color' %}

{% set colorsMain =
  [
    {
      name: 'Red-500',
      pantone: 'Pantone: 186C',
      tokenValue: 'red-500',
      hsla: 'hsla(0, 0, 90, 1)',
      hex: '#c6102e'
    },
    {
      name: 'Yellow-500',
      pantone: 'Pantone: 142C',
      tokenValue: 'yellow-500',
      hsla: 'hsla(42, 86, 61, 1)',
      hex: '#f1be46'
    },
    {
      name: 'Blue-700',
      pantone: 'Pantone: 307C',
      tokenValue: 'blue-700',
      hsla: 'hsla(201, 100, 33, 1)',
      hex: '#006da8'
    }
  ]
%}

{% block title %}
  {{ pageTitle }} -
{% endblock %}

{% block overview %}
  Typhoon uses a color pallete generated from three university markting approved
  colors. Due to the complexities of the web design these colors were expanded
  to create a variety of colors needed for good web design. The main colors are
  red and yellow with a blue for accent. Additionally there are a neural colors
  for general use and support colors for alerts and form confirmations.
{% endblock %}

{% block content %}
  <section class="tyhpoon-overview-overlap">
    <ul class="typhoon-main-color--list">
      {% for color in colorsMain %}
        <li class="typhoon-main-color--display lib-mr-2xl lib-mb-2xl lib-br2">
          <div class="color-display lib-bg-{{ color.tokenValue }}"></div>
          <div class="text-wrap lib-p-lg">
            <p class="lead lib-mt-0">
              <strong>{{ color.name }}</strong>
            </p>
            <p>
              {{ color.pantone }}
            </p>
            <p>
              {{ color.hex }}
            </p>
            <p>
              ${{ color.tokenValue }}
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>

  {% include '../_blocks/_colors.html.twig' %}
{% endblock %}
