{% extends '../_typhoon.html.twig' %}

{% set pageTitle = 'Spacing' %}
{% set pageDesc = 'Typhoon spacing guide' %}

{% block title %}
{{ pageTitle }} -
{% endblock %}

{% set utilityClass = [
  {
    utilityClass: 'lib-m-md',
    displayClass: 'margin-all',
    desc: 'Adds margins on all side of an element'
  },
  {
    utilityClass: 'lib-mx-md',
    displayClass: 'margin-x',
    desc: 'Adds margins on the x-axis of an element'
  },
  {
    utilityClass: 'lib-my-md',
    displayClass: 'margin-y',
    desc: 'Adds margins on the y-axis of an element'
  },
  {
    utilityClass: 'lib-mt-md',
    displayClass: 'margin-t',
    desc: 'Adds margins on the top side of an element'
  },
  {
    utilityClass: 'lib-mr-md',
    displayClass: 'margin-r',
    desc: 'Adds margins on the right side of an element'
  },
  {
    utilityClass: 'lib-mb-md',
    displayClass: 'margin-b',
    desc: 'Adds margins on the bottom side of an element'
  },
  {
    utilityClass: 'lib-ml-md',
    displayClass: 'margin-l',
    desc: 'Adds margins on the left side of an element'
  },
  {
    utilityClass: 'lib-m-auto',
    displayClass: 'margin-auto',
    desc: 'Sets x-axis margins to auto to horizontally center element'
  },
] %}

{% set spaceToken =  [
  {
    modifier: '2xs',
    rem: '0.25',
    px: '4',
  },
  {
    modifier: 'xs',
    rem: '0.5',
    px: '8',
  },
  {
    modifier: 'sm',
    rem: '0.75',
    px: '12',
  },
  {
    modifier: 'md',
    rem: '1',
    px: '16',
  },
  {
    modifier: 'lg',
    rem: '1.5',
    px: '24',
  },
  {
    modifier: 'xl',
    rem: '2',
    px: '32',
  },
  {
    modifier: '2xl',
    rem: '2.5',
    px: '40',
  },
  {
    modifier: '3xl',
    rem: '3',
    px: '48',
  },
  {
    modifier: '4xl',
    rem: '4',
    px: '64',
  },
  {
    modifier: '5xl',
    rem: '6',
    px: '96',
  },
  {
    modifier: '6xl',
    rem: '8',
    px: '128',
  },
  {
    modifier: '7xl',
    rem: '12',
    px: '192',
  },
] %}

{% block overview %}
Typhoon uses pre-set spacing design tokens and utility classes to streamling
design and speed up development. Both tokens and utility classes use a
descriptive naming convition instead of numeric values to improve flexibility.
{% endblock %}

{% block content %}
<article class="lib-mb-4xl">
  <h2 id="primary-colors">
    Spacing Utility Classes
  </h2>
  <p>There are utility classes for both padding and margins in Typhoon. Each follows the same structure of the library
    prefix, the type of spacing and which part of the element, and the size. For example <code>lib-pt-md</code>
    provides padding (p) to the top (t) of the element. The amount of spacing is the medium spacing token. If you wanted
    to do margins, you would use <code>lib-mt-md</code> instead. Padding and margin have the same class except margin,
    which has an <code>lib-m-auto</code>, which set the x-axis margins to auto for horizontal centering.</p>
  <table class="typhoon-spacing-table utility-spacing lib-mt-2xl">
    <thead>
      <tr>
        <th class="example">
          Class Example
        </th>
        <th class="display">
          Display
        </th>
        <th class="description">
          Description
        </th>
      </tr>
    </thead>
     <tbody>
    {% for space in utilityClass %}
      <tr>
        <td class="example">
          <span>{{space.utilityClass}} </span>
        </td>
        <td class="display">
          <div class="spacing-display">
            <div class="{{space.displayClass}}"></div>
          </div>
        </td>
        <td class="description">
          {{space.desc}}
        </td>
      </tr>
    {% endfor %}
    </tbody> 
  </table>
</article>
<article>
  <h2 id="primary-colors">
    Spacing Sizes
  </h2>
  <p>The spacing modifiers are preset to improve the design process. The <code>md</code> from the abouve exmaple can be replaced with any of the below values.</p>
  <table class="typhoon-spacing-table spacing-tokens lib-mt-2xl">
    <thead>
      <tr>
        <th class="modifier">
          Spacing Modifier
        </th>
        <th class="value">
          Value
        </th>
      </tr>
    </thead>
    <tbody>
    {% for token in spaceToken %}
      <tr>
        <td class="modifier">
          <span>{{token.modifier}}</spa>
        </td>
        <td class="value">
        <span>{{token.rem}} rem</span><span>{{token.px}} px</span>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</article>
{% endblock %}