{# {% include './_basic-card-data.html.twig' %} #}

{% set basicCards = [
  {
    cardClass: '',
    title: 'Card Title',
    category: 'Category',
    desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
    linkText: 'Link words',
    pageLink: '#',
    ariaText: 'Readable by screen readers'
  },
  {
    cardClass: '',
    title: 'Card Title',
    icon: 'academic-calendar',
    desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
    linkText: 'Link words',
    pageLink: '#',
    ariaText: 'Readable by screen readers'
  },
  {
    cardClass: 'lib-basic-card--yellow',
    title: 'Card Title',
    category: 'Category',
    desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam.',
    linkText: 'Link words',
    pageLink: '#',
    ariaText: 'Readable by screen readers'
  },
  {
    cardClass: 'lib-basic-card--yellow',
    title: 'Card Title',
    icon: 'academic-calendar',
    desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam.',
    linkText: 'Link words',
    pageLink: '#',
    ariaText: 'Readable by screen readers'
  },
  {
    cardClass: 'lib-basic-card--blue',
    title: 'Card Title',
    category: 'Category',
    desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam.',
    linkText: 'Link words',
    pageLink: '#',
    ariaText: 'Readable by screen readers'
  },
  {
    cardClass: 'lib-basic-card--blue',
    title: 'Card Title',
    icon: 'academic-calendar',
    desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam.',
    linkText: 'Link words',
    pageLink: '#',
    ariaText: 'Readable by screen readers'
  }
] %}

<div class="lib-basic-card--wrap">
  {% for card in basicCards %}
    <div class="lib-basic-card {{
      card.cardClass
      }} lib-mr-2xl lib-mb-2xl sm:lib-mr-0 xs:lib-mr-0">
      <a href="{{ card.pageLink }}/index.html" class="lib-basic-card--link">
        <span class="lib-aria-text">{{ card.ariaText }}</span>
        <div class="lib-basic-card--text-wrap">
          {% if card.icon %}
            <span class="lib-icon-{{ card.icon }} lib-mb-md"></span>
          {% endif %}
          {% if card.category %}
            <span class="lib-basic-card--category lib-mb-xs">
              {{ card.category }}
            </span>
          {% endif %}
          <h3 class="lib-basic-card--title">
            {{ card.title }}
          </h3>
          <p class="lib-basic-card--desc">
            {{ card.desc }}
          </p>
          <div class="lib-basic-card--cta--wrap">
            <p class="lib-basic-card--cta">
              {{ card.linkText }}
            </p>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
