{# {% include './_basic-card-data.html.twig' %} #}

{% set basicCards =
  [
    {
      cardClass: '',
      title: 'Card Title',
      category: 'Category',
      desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      linkText: 'Link words',
      pageLink: '#',
      ariaText: 'Readable by screen readers'
    },
    {
      cardClass: 'lib-basic-card--yellow',
      title: 'Card Title',
      category: 'Category',
      desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam.',
      linkText: 'Link words',
      pageLink: '#',
      ariaText: 'Readable by screen readers'
    },
    {
      cardClass: 'lib-basic-card--blue',
      title: 'Card Title',
      category: 'Category',
      desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam.',
      linkText: 'Link words',
      pageLink: '#',
      ariaText: 'Readable by screen readers'
    }
  ]
%}

<div class="lib-basic-card--wrap">
  {% for card in basicCards %}
    <article class="lib-basic-card {{ card.cardClass }}">
      <a href="{{ card.pageLink }}/index.html" class="lib-basic-card--link">
        <span class="lib-aria-text">{{ card.ariaText }}</span>
        <div class="lib-basic-card--text-wrap">
          <span class="lib-basic-card--category lib-mb-xs">
            {{ card.category }}
          </span>
          <h3 class="lib-basic-card--title">
            {{ card.title }}
          </h3>
          <p class="lib-basic-card--desc">
            {{ card.desc }}
          </p>
          <div>
            <p class="lib-basic-card--cta">
              {{ card.linkText }}
            </p>
          </div>
        </div>
      </a>
    </article>
  {% endfor %}
</div>
