{% set newsCardBasic = [
  {
    cardClass: 'lib-news-card--basic',
    img: '/src/img/basic-card--image.jpg',
    title: 'Card Title',
    category: 'Published to Category on Mar 6',
    desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ',
    pageLink: '#',
    ariaText: 'Readable by screen readers'
  },
  {
    cardClass: 'lib-news-card--basic',
    img: '/src/img/basic-card--image.jpg',
    title: 'Card Title',
    category: 'Published to Category on Mar 6',
    desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
    pageLink: '#',
    ariaText: 'Readable by screen readers'
  },
  {
    cardClass: 'lib-news-card--basic',
    img: '/src/img/basic-card--image.jpg',
    title: 'Card Title',
    category: 'Published to Category on Mar 6',
    desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
    pageLink: '#',
    ariaText: 'Readable by screen readers'
  },
  {
    cardClass: 'lib-news-card--basic',
    img: '/src/img/basic-card--image.jpg',
    title: 'Card Title',
    category: 'Published to Category on Mar 6',
    desc: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
    pageLink: '#',
    ariaText: 'Readable by screen readers'
  }
] %}

<div class="news-card--wrap">
  {% for card in newsCardBasic %}
    <div class=" {{ card.cardClass }} lib-br4 lib-mb-lg sm:lib-mb-3xl">
      <a href="#" class="lib-news-card--link">
        <div class="lib-news-card--image-wrap lib-mr-sm xs:lib-mb-md">
          <figure>
            <img src="{{ card.img }}" alt="ALT" />
          </figure>
        </div>
        <span class="lib-aria-text">{{ card.ariaText }}</span>
        <div class="lib-news-card--text">
          <span class="lib-news-card--category">{{ card.category }}</span>
          <h3 class="lib-news-card--title lib-mt-2xs lib-mb-md lib-text-lg">
            {{ card.title }}
          </h3>
          <div class="lib-news-card--desc">
            <p class="lib-text-sm">
              {{ card.desc }}
            </p>
            {#                       <div class="lib-cta--wrap">
              <p class="lib-cta">
                {{ card.linkText }}
              </p>
            </div> #}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
